.DS_Store
*.log
*.tmp
*.swp

# Terraform local artifacts
.terraform/
**/.terraform/
*.tfvars
*.tfvars.*
*.tfstate
*.tfstate.*
crash.log
terraform/envs/dev/ec2.tf
terraform/modules/
.terraform.lock.hcl

